<div>
  <h1>DataBase Entries</h1>
  <h4>Cats</h4>
  <p>
    <% @cats.each do |cats| %>
      <li>
        <%= cats.name %>
      </li>
    <% end %>
  </p>
  <h2>Users</h2>
  <p>
    <% @users.each do |user| %>
      <li>
        Username: <%= user.username =%>
        Age: <%= user.age %>
        Email: <%= user.email %>
      </li>
    <% end %>
  </p>
  <h4>Todos</h4>
  <p>
    <% @todos.each do |todo| %>
      <li>
        <%= todo.task %>
      </li>
    <% end %>
  </p>
</div>
